<div class="my-2">
    <% if(flashMessage.success) {%> 
        <div class="alert alert-success alert-dismissible show fade my-3">
            <%= flashMessage.success %> 
            <button class="close" data-dismiss='alert' aria-label="true">
                <span aria-hidden="true"> X </span>
            </button>
        </div>
    <% }  %> 
    <% if(flashMessage.fail) {%> 
        <div class="alert alert-danger alert-dismissible show fade my-3">
            <%= flashMessage.fail %> 
            <button class="close" data-dismiss='alert' aria-label="true">
                <span aria-hidden="true"> X </span>
            </button>
        </div>
    <% }  %> 
</div>