<div class="sidebar">
    <div class="list-group">
        <li class="list-group-item">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="/posts/create">New Post</a>
        </li>
        <li class="list-group-item">
            <a href="/posts">My Post</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/bookmarks">Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/comments">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/edit-profile">Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/change-password">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/logout">Log Out</a>
        </li>
    </div>
</div>